@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #2563eb;
  --secondary-color: #3b82f6;
  --dark-gray: #6b7280;
  --light-blue: #eff6ff;
  --dark-blue: #1e3a8a;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
}

html,
body {
  overflow-x: hidden;
}

hr {
  margin: 2rem 0;
}

.mark-tag {
  font-size: 14px;
  margin-right: 0.5rem;
  background-color: #646464;
  color: white;
  border-radius: 5px;
  padding: 4px 6px;
}

/* container */
.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}

/* ol */
.size-of-number li {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

.article {
  padding-left: 0.3rem;
}

.article h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.article p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.article time {
  font-size: 14px;
  color: gray;
  margin-left: 0.5rem;
}

.article a {
  font-size: 1rem;
  font-weight: normal;
}

/* Blog */

.blog {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.blog h1 {
  font-size: 3rem;
  margin: 0;
}

.blog h2 {
  font-size: 1.9rem;
  margin-top: 2.9rem;
  margin-bottom: 1.3rem;
}

.blog h3 {
  font-size: 1.5rem;
}

.blog p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  /* text-align: justify; */
}

.blog ul li {
  font-size: 1.1rem;
  line-height: 2rem;
}

.blog time {
  font-size: 16px;
  color: gray;
}

.blog .comment {
  color: #75715e;
}

.blog img {
  margin-top: 3rem;
  margin-bottom: 1.8rem;
  max-width: auto;
  width: 100%;
}
.blog pre {
  height: auto;
  max-height: 300px;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #1f2a37;
  color: white;
  margin: 2rem 0rem;
  border-radius: 0.3rem;
  padding: 0rem 1rem;
}

.blog-tag {
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.blog code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.green-tag {
  background-color: #008335;
  color: white;
}

.light-green-tag {
  background-color: #a3e635;
  color: black;
}

.blue-tag {
  background-color: #3b82f6;
}
.orange-tag {
  background-color: #f97316;
}
.pink-tag {
  background-color: #f472b6;
}
.gray-tag {
  background-color: #52525b;
  color: white;
}
.yellow-tag {
  background-color: #f7df1e;
  color: black;
}
.violet-tag {
  background-color: #5b21b6;
  color: white;
}
.red-tag {
  background-color: #f64646;
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}

.link-primary:hover {
  background-color: var(--secondary-color);
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.3rem;
  border: 1px solid var(--primary-color);
  margin-top: 0.5rem;
}

/* lists */
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* nav */
.navigation {
  background-color: #406fcf;
  color: white;
  display: flex;
  padding: 0.5rem 2rem;
}

.navigation .link {
  color: white;
  font-size: 1.1rem;
}

.navigation .link:hover {
  background-color: var(--secondary-color);
}

.navigation .nav-brand {
  flex: 1;
  padding-top: 1rem;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.link-active {
  font-weight: bold;
}

/* header */
.hero {
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 420px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  color: var(--dark-gray);
  padding-top: 1rem;
  text-align: center;
}

.hero .heading-highlight {
  background-color: var(--secondary-color);
  color: white;
  margin-top: 0rem;
  padding: 0rem 0.5rem;
  border-radius: 0.125rem;
}

/* section */
.section {
  padding: 2rem;
}
.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section h1 {
  text-align: center;
  margin-bottom: 0px;
}

.ow {
  background-color: var(--light-blue);
}

/* footer */

.footer {
  background-color: var(--dark-blue);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: normal;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

@media only screen and (max-width: 520px) {
  .nav-brand {
    display: none;
  }
  .navigation {
    padding: 0.5rem 0rem;
  }
  .hero-img {
    max-width: 320px;
  }
  .hero {
    padding-top: 3rem;
  }
  .blog {
    margin-top: 3rem;
    padding: 0rem 0.5rem;
  }
  .blog img {
    margin-top: 2.8rem;
    margin-bottom: 1.2rem;
  }
  .blog time {
    font-size: 14px;
  }
  .blog h1 {
    font-size: 2.5rem;
  }
  .blog h2 {
    font-size: 1.6rem;
  }
  .blog h3 {
    font-size: 1.2rem;
  }
}
