@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #2563eb;
  --secondary-color: #3b82f6;
  --dark-gray: #6b7280;
  --off-white: #eff6ff;
  --footer: #1e3a8a;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
}

hr {
  margin: 2rem 0;
}
/* container */
.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
  width: 100%;
}

/* ol */
.size-of-number li {
  font-size: 1.5rem;
}

.article {
  padding-left: 0.5rem;
}

.article h1 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.article p {
  font-size: 16px;
}

.article time {
  font-size: 14px;
  margin-top: 0.2rem;
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}

.link-primary:hover {
  background-color: var(--secondary-color);
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.3rem;
  border: 1px solid var(--primary-color);
  margin-top: 0.5rem;
}

/* lists */
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* nav */
.navigation {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  padding: 0.5rem 2rem;
}

.navigation .link {
  color: white;
  font-size: 1.1rem;
}

.navigation .link:hover {
  background-color: var(--secondary-color);
}

.navigation .nav-brand {
  flex: 1;
  padding-top: 1rem;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 520px) {
  .nav-brand {
    display: none;
  }
  .navigation {
    padding: 0.5rem 0rem;
  }
}
.link-active {
  font-weight: bold;
}

/* header */
.hero {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 420px;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 520px) {
  .hero-img {
    max-width: 320px;
  }
}

.hero .hero-heading {
  color: var(--dark-gray);
  padding-top: 1rem;
  text-align: center;
}

.hero .heading-highlight {
  background-color: var(--secondary-color);
  color: white;
  margin-top: 0rem;
  padding: 0rem 0.5rem;
  border-radius: 0.125rem;
}

/* section */
.section {
  padding: 2rem;
}
.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section h1 {
  text-align: center;
  margin-bottom: 0px;
}

.ow {
  background-color: var(--off-white);
}

/* footer */

.footer {
  background-color: var(--footer);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}
